<div class = "row">
  <h2>Your very special creature is...</h2>
</div>
<div class = "row">
  <h1><%= @creature.name %></h1>
</div>
<div class = "row">
  <em><%= @creature.description %></em>
</div>
<div class = "row">
  <%= button_to "Delete this Creature", @creature, method: :delete, class: "btn btn-danger" %>
</div>
<div class = "row">
  <%= link_to "Edit this Creature", edit_creature_path(@creature) %> -
  <%= link_to "Go back to the Bog", creatures_path %>
</div>
